<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <div class="container-fluid text-center">
        <h1>Manager Users</h1>
        <h2><a th:href="@{/users/new}">Add new user</a></h2>
        <div th:if="${message}" class="alert alert-success text-center">[[${message}]]</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>E-mail</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Enabled</th>
                    <th></th>
                </tr>
                <tbody>
                    <th:block th:each="user : ${listUsers}">
                        <tr>
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.isEnabled}"></td>
                            <td><a th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                                <a th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </thead>
        </table>
    </div>
</body>
</html>